<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.sch.smktelkom_mlg.project.xirpl402112029.deuxappkk">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_welcome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StartActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".ButtonActivity" />
        <activity android:name=".SumateraActivity" />
        <activity android:name=".SulawesiLayout" />
        <activity
            android:name=".DetaileActivity"
            android:label="@string/title_activity_detaile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Detail2Activity"
            android:label="@string/title_activity_detail2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Detail3Activity"
            android:label="@string/title_activity_detail3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Sulawesi2Layout" />
        <activity android:name=".PapuaLayout"></activity>
    </application>

</manifest>